services:
  - type: web
    name: creando-lazos-api
    env: node
    plan: free
    buildCommand: npm ci && npm run prisma:generate:ci && npm run build && npm run prisma:push
    startCommand: npm run start
    envVars:
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_URL
        sync: false
      - key: CLOUDINARY_URL
        sync: false
      - key: PORT
        value: 4000